:root {
  --over-width: 40px;
  --over-height: 60px;
}

.bowling-scorecard {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 380px;
}

.bowler-name {
  width: 150px;
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.bowler-details {
  width: 1000px;
  display: flex;
}

.over {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: var(--over-width);
  font-size: x-small;
}

.over-detail {
  display: flex;
  flex-direction: row;
  height: 45px;
}

.over-score {
  height: 15px;
  border-top: 1px solid black;
  text-align: center;
}

.ball-column {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.ball {
  justify-content: center;
  display: flex;
  align-items: center;
  /* border: 0.5px solid black; */
}

.noball {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.extra-runs {
  display: flex;
  border: 1px solid black;
  width: 2px;
  height: 2px;
  background: black;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 50%;
}

.extra-runs-row {
  display: flex;
  padding: 0.5px;
  justify-content: center;
  align-items: center;
}
