:root {
  --over-width: 40px;
  --over-height: 60px;
}

.bowling-scorecard {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 380px;
  /* border: 0.5px solid black; */
}

.bowler-name {
  height: 60px;
  width: 150px;
  font-size: medium;
  border-right: 1px solid black;
  float: left;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.bowler-details {
  height: 60px;
  width: 1000px;
  border: 1px solid black;
  float: left;
}

.over {
  border-right: 1px solid black;
  float: left;
  width: var(--over-width);
  height: var(--over-height);
  font-size: small;
}

.over-detail {
  float: left;
  width: var(--over-width);
  height: 45px;
}

.over-score {
  width: var(--over-width);
  height: 15px;
  border-top: 1px solid black;
  text-align: center;
  float: left;
  font-size: x-small;
}

.ball-row {
  width: var(--over-width);
  height: 15px;
}

.ball {
  width: 10px;
  height: 15px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-left: 2px;
}
.left {
  float: left;
}
.right {
  float: right;
}
