<!DOCTYPE html>
<html>
  <head>
    <link href="style.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>My layout test</title>
  </head>
  <body>
    <h1>Bowling</h1>
    <div class="wrapper">
      <div class="bowler-summary">
        <div class="bowler-name">Bowler name</div>
        <div class="over">
          <div class="over-summary">
            <div class="ball-row">
              <div class="left ball">2</div>
              <div class="right ball">4</div>
            </div>
            <div class="ball-row">
              <div class="left ball">2</div>
              <div class="right ball">4</div>
            </div>
            <div class="ball-row">
              <div class="left ball">•</div>
              <div class="right ball">•</div>
            </div>
          </div>
          <div class="over-score">1-1</div>
        </div>
        <div class="over">
          <div class="over-summary">
            <div class="ball-row">
              <div class="left ball">2</div>
              <div class="right ball">4</div>
            </div>
            <div class="ball-row">
              <div class="left ball">2</div>
              <div class="right ball">4</div>
            </div>
            <div class="ball-row">
              <div class="left ball">•</div>
              <div class="right ball">+</div>
            </div>
            <div class="over-score">32-1</div>
          </div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over">
          <div class="over-summary"></div>
          <div class="over-score"></div>
        </div>
        <div class="over"></div>
        <div class="over"></div>
        <div class="over"></div>
      </div>
    </div>
  </body>
</html>
